.example-card {
    align-items: center;
    width: 30%;
    left :35%;
}
@media only screen and (max-width: 700px) {
    .example-card {
        align-items: center;
        width: 50%;
        left :25%;
    }
}
@media only screen and (max-width: 400px) {
    .example-card {
        align-items: center;
        width: 70%;
        left :15%;
    }
}