<!--Header-->
<header class="rgba-gradient">
  <!--Intro Section-->
  <section >
    <div class="mask">
      <div class="container d-flex justify-content-center align-items-center">
        <div class="row flex-center pt-5 mt-3">
          <div class="col-md-12 col-lg-6 text-center text-md-left margins">
            <div class="white-text">
              <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;">
               <a href="#"><img height="50rem" width="65rem" src="../../../assets/images/syscoplogopng.png"></a> SYSCOP </h1>
              <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;">
              <h6 class="wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;">
                POWER YOUR METRICS WITH A
                LEADING OPEN SOURCE SOLUTION
              </h6>
              <br>
              <button class="btn btn-white btn-round blue-text font-weight-bold ml-lg-0 wow fadeInLeft waves-effect waves-light"
                data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;" (click)="register()">Register</button>
              <button class="btn btn-outline-white btn-round font-weight-bold wow fadeInLeft waves-effect waves-light"
                data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;"(click)="login()">Login
            </button>
            </div>
          </div>

          <div class="col-md-12 col-lg-6 wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInRight; animation-delay: 0.3s;">
            <img src="assets/images/admin-new.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
<!--Main content-->
<main>

  <!--First container-->
  <div class="container">

    <!--Section: Features v.1-->
    <section id="features" class="section feature-box mb-5">

      <!--Section heading-->
      <h1 class="mb-3 my-5 pt-5 dark-grey-text wow fadeIn text-center" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;"><strong
          class="font-weight-bold">The leading open source software for time series analysis
        </strong></h1>

      <!--Section description-->
      <p class="text-center grey-text w-responsive mx-auto mb-5 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
        Powerful, scalable IT management tools so you can rule your environment..</p>

      <!--First row-->
      <div class="row features wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">

        <div class="col-lg-4 text-center">
          <div class="icon-area">
            <div class="circle-icon">
              <i class="fas fa-cogs blue-text"></i>
            </div>
            <br>
            <h5 class="dark-grey-text font-weight-bold mt-2">Customization</h5>
            <div class="mt-1">
              <p class="mx-3 grey-text">You can customize threshold for system metrics. .</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 text-center">
          <div class="icon-area">
            <div class="circle-icon">
              <i class="fas fa-book blue-text"></i>
            </div>
            <br>
            <h5 class="dark-grey-text font-weight-bold mt-2">Easy Monitoring</h5>
            <div class="mt-1">
              <p class="mx-3 grey-text">Save time, money, and resources by automating and simplifying help desk and IT support tasks.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 text-center mb-4">
          <div class="icon-area">
            <div class="circle-icon">
              <i class="fas fa-users blue-text"></i>
            </div>
            <br>
            <h5 class="dark-grey-text font-weight-bold mt-2">Free support</h5>
            <div class="mt-1">
              <p class="mx-3 grey-text">Our team provides free support for any issues yo face</p>
            </div>
          </div>
        </div>

      </div>
      <!--/First row-->

    </section>
    <!--/Section: Features v.1-->

  </div>
  <!--First container-->

  <!--Second container-->
  <div class="container-fluid" style="background-color: #f9f9f9">
    <div class="container py-4">

      <!--Section: Download-->
      <section>

        <!-- First row -->
        <div class="row my-4 pt-5 wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

          <!-- First column -->
          <div class="col-lg-7 col-md-12 mb-4 text-center">
            <img src="assets/images/monitoring.gif" alt="" class="img-fluid z-depth-2 rounded">
          </div>
          <!-- /First column -->

          <!-- Second column -->
          <div class="col-lg-5 col-md-12 mb-4 text-left">

            <!--Section heading-->
            <h2 class="mb-3 my-5 dark-grey-text wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;"><strong
                class="font-weight-bold">Download</strong> the application</h2>

            <p class="grey-text mb-4">You can download our application from the given Github link</p>
            <a class="btn btn-white btn-rounded blue-text font-weight-bold ml-0 wow fadeIn waves-effect waves-light"
              data-wow-delay="0.2s" href="https://github.com/stackroute/boeing-wave3-syscop" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;"><i
                class="fab fa-github" aria-hidden="true"></i> GIT HUB</a>
          
          </div>
          <!-- /.Second column -->

        </div>
        <!-- /.First row -->

      </section>
      <!--/Section: Download-->

    </div>
  </div>
  <!--Second container-->

  <!--Third container-->
  <div class="streak streak-md streak-photo" style="background-image:url(&#39;https://mdbootstrap.com/img/Photos/Others/architecture.jpg&#39;)">
    <div class="flex-center white-text blue-gradient-mask">
      <div class="container py-3">

        <!--Section: Features v.4-->
        <section class="section feature-box wow fadeIn" data-wow-delay="0.2s" style="visibility: hidden; animation-name: none; animation-delay: 0.2s;">

          <!--Section heading-->
          <h1 class="py-5 my-5 white-text text-center wow fadeIn" data-wow-delay="0.2s" style="visibility: hidden; animation-name: none; animation-delay: 0.2s;"><strong
              class="font-weight-bold">So, what makes us different?
            </strong></h1>

          <!--Grid row-->
          <div class="row features-small mb-5">

            <!--Grid column-->
            <div class="col-md-12 col-lg-4">

              <!--Grid row-->
              <div class="row mb-5">
                <div class="col-3">
                  <a type="button" class="btn-floating white btn-lg my-0 waves-effect waves-light"><i class="fas fa-tablet-alt blue-text"
                      aria-hidden="true"></i></a>
                </div>
                <div class="col-9">
                  <h5 class="font-weight-bold white-text">Fully Non-Invasive</h5>
                  <p class="white-text">You don't need to stop your application to monitor it if you use SysCop!</p>
                </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row mb-5">
                <div class="col-3">
                  <a type="button" class="btn-floating white btn-lg my-0 waves-effect waves-light"><i class="fas fa-level-up-alt blue-text"
                      aria-hidden="true"></i></a>
                </div>
                <div class="col-9">
                  <h5 class="font-weight-bold white-text">Instant Notifications</h5>
                  <p class="white-text">We provide instant email and text notifications that would predict possible system failures</p>
                </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row mb-5">
                <div class="col-3">
                  <a type="button" class="btn-floating white btn-lg my-0 waves-effect waves-light"><i class="fas fa-phone blue-text"
                      aria-hidden="true"></i></a>
                </div>
                <div class="col-9">
                  <h5 class="font-weight-bold white-text">Technical support</h5>
                  <p class="white-text">We provide technical support to all our customers
                    </p>
                </div>
              </div>
              <!--Grid row-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-12 col-lg-4 px-5 mb-2 text-center text-md-left flex-center">
              <img src="assets/images/admin-new1.png" alt="" class="z-depth-0 img-fluid">
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-12 col-lg-4">

              <!--Grid row-->
              <div class="row mb-5">
                <div class="col-3">
                  <a type="button" class="btn-floating white btn-lg my-0 waves-effect waves-light"><i class="far fa-object-group blue-text"
                      aria-hidden="true"></i></a>
                </div>
                <div class="col-9">
                  <h5 class="font-weight-bold white-text">Real-Time Graphs</h5>
                  <p class="white-text">You can visualise live metrics data of your system performance with our real-time graphs</p>
                </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row mb-5">
                <div class="col-3">
                  <a type="button" class="btn-floating white btn-lg my-0 waves-effect waves-light"><i class="fas fa-rocket blue-text"
                      aria-hidden="true"></i></a>
                </div>
                <div class="col-9">
                  <h5 class="font-weight-bold white-text">Fast and powerful</h5>
                  <p class="white-text">Our application is extremely fast and powerful when it comes to monitoring</p>
                </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row mb-5">
                <div class="col-3">
                  <a type="button" class="btn-floating white btn-lg my-0 waves-effect waves-light"><i class="fas fa-sort-alpha-up blue-text"
                      aria-hidden="true"></i></a>
                </div>
                <div class="col-9">
                  <h5 class="font-weight-bold white-text">Supports Multi-Platform monitoring</h5>
                  <p class="white-text">With one product syscop, you can monitor docker, java and node environments.</p>
                </div>
              </div>
              <!--Grid row-->

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

        </section>
        <!--/Section: Features v.4-->
      </div>
    </div>
  </div>
  <!--/Third container-->

</main>
<!--Main content-->


<!--Footer-->
<footer class="page-footer text-center text-md-left blue-grey lighten-5 pt-0">

  <div style="background-color: #5991fb;">
    <div class="container">
      <!--Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!--Grid column-->
        <div class="col-12 col-md-5 text-left mb-md-0">
          <h6 class="mb-0 white-text text-center text-md-left"><strong>Get connected with us on social networks!</strong></h6>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-12 col-md-7 text-center text-md-right">
          <!--Facebook-->
          <a class="p-2 m-2 fa-lg fb-ic ml-0"><i class="fab fa-facebook-f white-text mr-lg-4"> </i></a>
          <!--Twitter-->
          <a class="p-2 m-2 fa-lg tw-ic"><i class="fab fa-twitter white-text mr-lg-4"> </i></a>
          <!--Google +-->
          <a class="p-2 m-2 fa-lg gplus-ic"><i class="fab fa-google-plus-g white-text mr-lg-4"> </i></a>
          <!--Linkedin-->
          <a class="p-2 m-2 fa-lg li-ic"><i class="fab fa-linkedin-in white-text mr-lg-4"> </i></a>
          <!--Instagram-->
          <a class="p-2 m-2 fa-lg ins-ic"><i class="fab fa-instagram white-text mr-lg-4"> </i></a>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
  </div>

  <!--Footer Links-->
  <div class="container mt-5 mb-4 text-center text-md-left">
    <div class="row mt-3">

      <!--First column-->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4 dark-grey-text">
        <h6 class="text-uppercase font-weight-bold"><strong>SYSCOP</strong></h6>
        <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Syscop is a versatile monitoring system that can be used for any use within IT environments: networks, server applications, databases. Its use transcends the purely technical as it allows the business layers to obtain information in real time of what worries them, visualizing the data in a direct way from a single tool.</p>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 dark-grey-text">
        <h6 class="text-uppercase font-weight-bold"><strong>Products</strong></h6>
        <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><a href="" class="dark-grey-text">Docker Agent</a></p>
        <p><a href="" class="dark-grey-text">Java Agent</a></p>
        <p><a href="" class="dark-grey-text">Node Agent</a></p>
        <p><a href="" class="dark-grey-text">Python Agent</a></p>
      </div>
      <!--/.Second column-->

      <!--Third column-->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 dark-grey-text">
        <h6 class="text-uppercase font-weight-bold"><strong>Useful links</strong></h6>
        <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><a href="" class="dark-grey-text">Your
            Account</a></p>
        <p><a href="https://github.com/stackroute/boeing-wave3-syscop/" class="dark-grey-text">GitHub Link</a></p>
        <p><a href="" class="dark-grey-text">Help</a></p>
      </div>
      <!--/.Third column-->

      <!--Fourth column-->
      <div class="col-md-4 col-lg-3 col-xl-3 dark-grey-text">
        <h6 class="text-uppercase font-weight-bold"><strong>Contact</strong></h6>
        <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><i class="fas fa-home mr-3"></i> Bengaluru, India</p>
        <p><i class="fas fa-envelope mr-3"></i> info@esyscop.com</p>
        <p><i class="fas fa-phone mr-3"></i> + 91 9999999999</p>
        <p><i class="fas fa-print mr-3"></i> + 91 8888888888</p>
      </div>
      <!--/.Fourth column-->

    </div>
  </div>
  <!--/.Footer Links-->

  <!-- Copyright-->
  <div class="footer-copyright py-3 text-center"style="background-color:blue">
    <div class="container-fluid">
      © 2018 Copyright:syscop <a href="" target="_blank">  </a>
    </div>
  </div>
  <!--/.Copyright -->

</footer>