<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Docker Agent</p>
                        <h3 class="card-title">
                            20
                            <small>KB</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i>
                            <a href="https://drive.google.com/open?id=1tNuSjD9gM4ISP5xaMHATee5clO42ifqg">Download Agent</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Java Agent</p>
                        <h3 class="card-title">20 KB</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i>
                            <a href="https://drive.google.com/uc?authuser=0&id=1oh80rRSHFD146x7tE4vysQ6eLh96PVHY&export=download">Download
                                Agent</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Node Agent</p>
                        <h3 class="card-title">25 KB</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i>
                            <a href="">Download Agent</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Python Agent</p>
                        <h3 class="card-title">24 KB</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i><a href="">Download Agent</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let service of services;let idx = index;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header card-header-tabs card-header-primary">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title">Graphs:</span>
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                            <a mat-button class="nav-link active" href="#cpu{{idx}}" data-toggle="tab">
                                                <i class="material-icons">code</i> CPU
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a mat-button class="nav-link" href="#netio{{idx}}" data-toggle="tab">
                                                <i class="material-icons">code</i> NetIO
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a mat-button class="nav-link" href="#memory{{idx}}" data-toggle="tab">
                                                <i class="material-icons">code</i> Memory
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="cpu{{idx}}">
                                    <div class="row justify-content-center">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="card">
                                                <div class="card-header card-header-success">
                                                    <canvas class="ct-chart" id="lineChart0{{idx}}"></canvas>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">CPU</h4>
                                                    <p class="card-category">CPU Performance</p>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="stats">
                                                        <i class="material-icons">access_time</i> updated
                                                        every 6 seconds
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="netio{{idx}}">
                                    <div class="row justify-content-center">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="card">
                                                <div class="card-header card-header-warning">
                                                    <canvas class="ct-chart" id="lineChart1{{idx}}"></canvas>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">NetIO</h4>
                                                    <p class="card-category">NetIO Performance</p>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="stats">
                                                        <i class="material-icons">access_time</i> updated
                                                        every 6 seconds
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="memory{{idx}}">
                                    <div class="row justify-content-center">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="card">
                                                <div class="card-header card-header-success">
                                                    <canvas class="ct-chart" id="lineChart2{{idx}}"></canvas>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">Memory</h4>
                                                    <p class="card-category">Memory Performance</p>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="stats">
                                                        <i class="material-icons">access_time</i> updated
                                                        every 6 seconds
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>