<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header blue-gradient">
            <h3 mat-dialog-title>Register Application</h3>
          </div>
          <div class="card-body justify-content-center">
            <mat-dialog-content>
              <form [formGroup]="appGroup" class="form">
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field appearance="legacy">
                      <mat-label>App Name</mat-label>
                      <input matInput placeholder="AppName" formControlName="applicationName" required>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field>
                      <mat-label>App Type</mat-label>
                      <mat-select formControlName="applicationType" required>
                        <mat-option value="docker">Docker</mat-option>
                        <mat-option value="nondDocker">Non-Docker</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field appearance="legacy">
                      <mat-label>Ip Address</mat-label>
                      <input matInput placeholder="Ip Address" formControlName="ipAddress" required>
                    </mat-form-field>
                  </div>
                </div>
                <div formArrayName="services">
                  <div *ngFor="let group of serviceArray.controls;let idx = index">
                    <div [formGroupName]="idx">
                      <div class="row ">
                        <div class="col-md-4">
                          <h3>Service {{idx+1}}</h3>
                        </div>
                        <div class="col-md-1">
                          <button mat-icon-button color="primary" (click)="addService()">
                            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                          </button>
                        </div>
                        <div class="col-md-1">
                          <button mat-icon-button color="accent" (click)="removeService()">
                            <mat-icon aria-label="Delete">delete</mat-icon>
                          </button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <mat-form-field appearance="legacy">
                            <mat-label>Service Name</mat-label>
                            <input matInput placeholder="ServiceName" formControlName="serviceName" required>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <mat-form-field>
                            <mat-label>Service Type</mat-label>
                            <mat-select formControlName="serviceType" required>
                              <mat-option value="java">Java</mat-option>
                              <mat-option value="python">Python</mat-option>
                              <mat-option value="node">Node</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <mat-form-field appearance="legacy">
                            <mat-label>Port-no.</mat-label>
                            <input matInput placeholder="Port-no." formControlName="portNumber" required>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </mat-dialog-content>
            <mat-dialog-actions>
              <table>
                <tr>
                  <td>
                    <button mat-raised-button (click)=onSubmit() [disabled]="appGroup.invalid" color="primary">Save</button>
                  </td>
                  <td>
                    <button mat-raised-button (click)=onCancel() color="accent">Cancel</button>
                  </td>
                </tr>
              </table>
            </mat-dialog-actions>
          </div>
        </div>
      </div>
    </div>
  </div>