<div class="split left">
    <div class="centered">
      <h2>From Metrics to Insights</h2>
      <p>Power your metrics and alerting with a leading open-source solution.</p>
    </div>
  </div>
  
  <div class="split right"> 
    <div class="centered">
      <h4>Join Syscop today.</h4>
      <table>
        <tr>
          <td><button class="log" type="button" routerLink="login">Login</button></td>
        </tr>
        <tr>
          <td><button class="sign" type="button" routerLink="signup">Signup</button></td>
        </tr>
      </table>
    </div>
  </div>