<div class="main-content">
    <div class="container-fluid">
            <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                          <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                          </div>
                          <p class="card-category">Docker Agent</p>
                          <h3 class="card-title">
                            20
                            <small>KB</small>
                          </h3>
                        </div>
                        <div class="card-footer">
                          <div class="stats">
                            <i class="material-icons">local_offer</i>
                            <a href="https://drive.google.com/open?id=1tNuSjD9gM4ISP5xaMHATee5clO42ifqg">Download
                              Agent</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                          <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                          </div>
                          <p class="card-category">Java Agent</p>
                          <h3 class="card-title">20 KB</h3>
                        </div>
                        <div class="card-footer">
                          <div class="stats">
                            <i class="material-icons">local_offer</i>
                            <a href="https://drive.google.com/uc?authuser=0&id=1oh80rRSHFD146x7tE4vysQ6eLh96PVHY&export=download">Download
                              Agent</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header blue-gradient">
                        <h4 class="card-title ">Application List</h4>
                        <p class="card-category"> List of registered applications</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table mat-table [(dataSource)]="dataSource" multiTemplateDataRows class="mat-elevation-z8"
                                class="table">

                                <ng-container matColumnDef="applicationName">
                                    <th mat-header-cell *matHeaderCellDef> ApplicationName </th>
                                    <td mat-cell *matCellDef="let element "> {{element.applicationName}} </td>
                                </ng-container>

                                <ng-container matColumnDef="applicationType">
                                    <th mat-header-cell *matHeaderCellDef> Application Type </th>
                                    <td mat-cell *matCellDef="let element"> {{element.applicationType}} </td>
                                </ng-container>

                                <ng-container matColumnDef="ipAddress">
                                    <th mat-header-cell *matHeaderCellDef> IP Address </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ipAddress}} </td>
                                </ng-container>

                                <ng-container matColumnDef="registrationDateandTime">
                                    <th mat-header-cell *matHeaderCellDef> Registration Date </th>
                                    <td mat-cell *matCellDef="let element"> {{element.registrationDateandTime}} </td>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef>
                                        <button mat-icon-button color="primary" (click)="addNew()">
                                            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                                        </button>
                                    </mat-header-cell>

                                    <mat-cell *matCellDef="let row; let i=index;">
                                        <button mat-icon-button color="accent" (click)="startEdit(row.applicationName,row.applicationType,row.ipAddress,row.services,row.services)">
                                            <mat-icon aria-label="Edit">edit</mat-icon>
                                        </button>

                                        <button mat-icon-button color="accent" (click)="deleteItem()">
                                            <mat-icon aria-label="Delete">delete</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="expandedDetail">
                                    <mat-cell *matCellDef="let detail">
                                        The symbol for {{detail.element.applicationName}} is
                                        {{detail.element.applicationType}}
                                    </mat-cell>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row"
                                    [class.expanded]="expandedElement == row" (click)="expandedElement === row? expandedElement = null : expandedElement = row"></tr>
                                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
                                    [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'" style="overflow: hidden">
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>